*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-family: 'Montserrat', sans-serif;
}

/* main structure */

body{
    height: 100vh;
    overflow: hidden;
}


main{
    height: calc(100vh - 100px);
    display: flex;
    color: rgb(163, 163, 163);
    
   
}

footer{
    position: absolute;
    width: 100vw;
    bottom: 0;
    color: rgb(163, 163, 163);
    background-color: rgb(35, 35, 35);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .center_container{
    width: calc(100% / 3);
    
}

#sidebar{
    height: 100%;
    width: 290px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#main_content{
    flex-grow: 1;
    height:100%;
    background-color: rgb(20, 22, 29);
    padding-top: 90px;
    position: relative;
    overflow-y: auto;
   
}

#overlay{
    height:80px ;
    background-color:rgba(1, 1, 1, .3);
    position: absolute;
    top: 0;
    width: 100%;
}

.container{
    padding: 20px;
}


.row{
    display: flex;
    align-items: center;
}



/* sidebar */
.sidebar .container{
    width: 290px;
}

.logo{
    width: 55%;
    margin-bottom: 5px;
}
.logo_small{
    width: 110%;
    display: none;
    margin:7px 0 30px 0;
}

.avatar{
    display: none;
}

.profilo{
    border-top: 1px solid rgb(187, 187, 187);
}

.fa-circle-down{
    margin-bottom: 10px;
}

#playlist{
    margin: 20px 0;
    overflow-y:auto;
    max-height:40%;
}

#playlist ul{
   
    overflow-y:auto;
    max-height:40%;
}

#sidebar  a{
    color: rgb(163, 163, 163);
    text-decoration: none;
}

#sidebar ul{
 list-style-type: none; 
 margin: 20px 0;
}

#sidebar ul li{
   
    margin: 10px 0;
   }

#sidebar h4{
   color: white;
   margin:30px 0 15px  0;
   }

   #sidebar a i{
    font-size: 24px;
   }

   #home a{
    color: white;
}


/* Sideba _ MQ_ =================== */
@media all and (max-width:450px){
    #sidebar span{
        display: none;
    }

    .logo{
        display: none;
    }

   .logo_small{
        display: block;
    }

    #sidebar h4, #sidebar span, #sidebar #playlist, #new_playlist{
        display: none;
    }

    #sidebar{
        width: 65px;
    }

    .profilo{
        display: none;
    }

    .avatar{
        display: block;
    }
}

/* footer */

footer .container .row{
   justify-content: space-between;
   flex-grow: 1;
   max-width: 290px;
}


footer .container{
    height: 100px;
    padding: 20px 10px
}

footer h2{
    color: white;
    font-size: 20px;
}

footer h3{
   font-weight: normal;
    font-size: 16px;
}



/* riproduttore basso sx */
footer .container:first-child {
    flex-grow: 1;
    max-width: 290px;
 }
/*  */

footer .container:last-child {
    flex-grow: 1;
    max-width: 290px;
}

footer .col img{
    height: 60px;
    margin-right: 10px;
}

.now_playing{
    display: flex;
    align-items: center;
}


.controls{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.barr{
    height: 3px;
    background-color:rgb(169, 169, 169);
    flex-grow: 1;
    margin: 0 20px;
    position: relative;
}

.played_barr{
    height: 3px;
    background-color:rgb(255, 255, 255);
    width: 22%;
    position: absolute;
    left: 0;

}

.fa-tv{
    margin:0 10px;
}

.volume{
    display: inline-block;
  width: 100px;
}

.side_controls{
    display: flex;
    align-items: center;
}


